@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default Light Theme */
:root {
  --bg-color: #fafafa;
  --text-color: #09090B;
  --card-bg: #eeeeee;
  --card-border: #d8d8d8;
  --player-bg: linear-gradient(0deg, #fafafa 0%, #ececec 45%, #fafafa 100%);
  --navbar-bg: #fafafa;
  --scrollbar-bg: #e2e2e2;
  --scrollbar-thumb: #bebebec0;
  /* --slider-track: #fd1717; */
  --slider-thumb: #fff;
  --slider-thumb-border: #252525;
  --icon-color:  #09090B;
  --navigator: #fff;
  --shadow: #00000049;
  --suggest : #dedee0;
}

/* Dark Theme */
[data-theme="dark"] {
  --bg-color: #09090B;
  --text-color: #fafafa;
  --suggest : #141414;
  --card-bg: #0d0d0e;
  --card-border: #333333c0;
  --player-bg: linear-gradient(0deg, #09090B 0%, #09090B 45%, #09090B 100%);
  --navbar-bg: #09090B;
  --scrollbar-bg: #2e2e2e;
  --scrollbar-thumb: #313131;
  /* --slider-track: #252525; */
  --slider-thumb: #1f1f1f;
  --slider-thumb-border: #ffffff;
  --icon-color: #fafafa;
  --navigator: #09090B;
  --shadow: #ffffff49;
}

/* Apply Theme Variables */
body {  
   overscroll-behavior-y: contain; 
  /* overflow-y: hidden; */
  height: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: background-color  ease, color  ease;
}
body::-webkit-scrollbar{
  display: none;
}
.search{
  color: var(--navbar-bg);
}

/* Navbar */
.navbar {
  background-color: var(--navbar-bg);
  z-index: 3;
}

/* Card */
.card {
  background-color: var(--card-bg);
  border: 1px solid var(--card-border);
  color: var(--text-color);
}

/* Player */
.Player {
  background: var(--player-bg);
}

/* Buttons & Icons */
.arrow-btn , .arrow-btnn  {
  color: var(--bg-color);
}

.arrow-btn:hover {
  color: var(--text-color);
}

.icon{
  color: var(--icon-color);
}

/* Input Text */
input[type="text"] {
  border: 2px solid var(--card-border);
}

/* Scrollbars */
.scroll::-webkit-scrollbar {
  height: 5px;
  background: var(--scrollbar-bg);
  border-radius: 20px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 20px;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Range Slider */
.range {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 5px;
  outline: none;
  position: relative;
  background: var(--slider-track);
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background: var(--slider-thumb);
  border: 2px solid var(--slider-thumb-border);
  border-radius: 50%;
  cursor: pointer;
  translate: -1px;
  position: relative;
  z-index: 2;
}
li{
  font-size: 0.75rem;
  
}
li:hover{
  text-decoration: underline;
}
/* Volume Slider */
.volume[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 30px;
  background: var(--slider-thumb);
  border: 1px solid var(--slider-thumb-border);
}
.volume[type="range"] {
  display: flex;
  -webkit-appearance: none;
  height: 2px;
}

/* Scroll Smooth */
.scroll-smooth {
  scroll-behavior: smooth;
}

/* Hide Scrollbar */
.scroll-hide::-webkit-scrollbar {
  display: none;
}
.scroll-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Blur Navbar */
.blur-active {
  backdrop-filter: blur(5px);
  transition: backdrop-filter 0.3s ease;
}

/* Footer */
.footer {
  border-top: 1px solid var(--card-border);
}

/* Profile Shadow */
.profile {
  box-shadow: 0px 0px 35px var(--card-border);
}

/* Background Image */
.bg {
  background: url("/public/Black_musify.svg");
  margin-left: 0.5rem;
  height: 72px;
  width: 72px;
  object-fit: cover;
}

[data-theme="dark"]{
  .bg {
  background: url("/public/White_musify.svg");
  }
  .song-info  , .b-bottom{
    border-bottom: 1px solid #2b2b2b;
  }
  .fy{
    color: #828283;
  }
  .Musi{
    color: #FAFAFA;
  }
} 
.fy{
    color: #848485;
  }
  .Musi{
     color: #09090B;
  }

  .Musi , .fy{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
  }
  

/* Image Hover Effects */
.imgs:hover {
  filter: brightness(0.5);
}
.imgs:hover .play {
  display: flex;
}

.song-info , .b-bottom{
  border-bottom: 1px solid #e4e4e4;
}
.song-info:hover {
  background-color: var(--slider-thumb);
  border: 1px solid var(--scrollbar-thumb);
  cursor: pointer;
  border-radius: 5px;
}

/* Search Button */
.search-btn {
  background: var(--text-color);
}

/* Footer Section */
.footer-section {
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 4rem;
  border-top: 1px solid #2b2b2b;
}

.Navigator {
  background: var(--navigator);
}



.theme-toggle {

  background-color: var(--bg-color);
  /* border-radius: 25px; */
  /* justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out; */
}



.liked{
  --tw-shadow: 0 5px 50px -12px var(--shadow);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.suggestionSection{
  background: var(--suggest);
  border: 1px solid var(--card-border);
  backdrop-filter: var(--tw-shadow-color);
  
}
.hoover{
  background-color: var(--card-bg);
}
.hoover:hover{
  background: var(--card-border)
}






.toggle-btn {

  color: var(--text-color);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.lyrics-content {

  text-align: center;
  margin-top: 15px;
  padding: 10px 20px 0 20px;
  background: var(--card-bg) ;

  border-radius: 8px solid var(--card-border);
  overflow-y: auto;
}
